 <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Dashboard</h4>
          <h5 class="card-subtitle text-muted">Precio coches</h5>
          <div class="d-flex flex-column w-100" *ngIf="salesChartOptions.series">
            <apx-chart [series]="salesChartOptions.series" [chart]="salesChartOptions.chart"
                       [plotOptions]="salesChartOptions.plotOptions" [xaxis]="salesChartOptions.xaxis"
                       [yaxis]="salesChartOptions.yaxis" [grid]="salesChartOptions.grid"
                       [stroke]="salesChartOptions.stroke" [tooltip]="salesChartOptions.tooltip"
                       [dataLabels]="salesChartOptions.dataLabels" [legend]="salesChartOptions.legend"
                       [colors]="salesChartOptions.colors" [markers]="salesChartOptions.markers">
            </apx-chart>
          </div>
          <div *ngIf="!salesChartOptions.series">
            Loading chart data...
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Lista de Coches</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Nombre del Coche</th>
                <th>Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let coche of coches">
                <td>{{ coche.nombreModelo }}</td>
                <td>{{ coche.precio | currency }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

