<h3>Añadir Modelo</h3>
<div class="row mb-3">
  <div class="col">
    <input type="text" placeholder="Nombre Modelo" class="form-control" [(ngModel)]="nombreModelo">
  </div>
  <div class="col">
    <input type="text" placeholder="Tipo de Coche" class="form-control" [(ngModel)]="tipoCoche">
  </div>
</div>
<div class="row mb-3">
  <div class="col">
    <input type="text" placeholder="Año de Lanzamiento" class="form-control" [(ngModel)]="anyoLanzamiento">
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleDropdown()">
    Selección de marca disponible
  </button>
  <div class="dropdown-menu" [class.show]="dropdownOpen">
    <div *ngFor="let marca of marcas">
      <label class="dropdown-item">
        <input type="radio" name="marca" [(ngModel)]="marcaSeleccionadaId" [value]="marca.id"> {{ marca.nombre }}
      </label>
    </div>
    <button class="btn btn-primary" type="button" (click)="confirmarSeleccion()">Confirmar</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="crearModelo()">Crear Modelo</button>
  </div>
</div>
