<!-- <div class="row">
  <div class="col">
    <input type="text" [placeholder]="'Nombre'" class="form-control" #txtNombre>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Tipo de Coche '" class="form-control" #txtTipoCoche>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Año de Lanzamiento'" class="form-control" #txtAnyoLanzamiento>
  </div>
  <div class="col">
    <input type="text" [placeholder]="'Marca Id'" class="form-control" #txtMarcaId>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <button class="btn btn-primary" (click)="crear(txtNombre.value, txtTipoCoche.value, txtAnyoLanzamiento.value,+txtMarcaId)">Crear Modelo</button>
  </div>
</div> -->

<p>Funciona</p>
